@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul,
ol {
    list-style: none;
}

a {
    text-decoration: none;
}

body {
    font-family: 'Inter', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f3f4f6;
    position: relative;
}

.back-box {
    position: absolute;
    top: 20px;
    left: 20px;
}

.back-btn {
    background-color: transparent;
    border: none;
    font-family: "Inter", sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 14px;
    color: #000;
    cursor: pointer;
    padding: 15px;
    transition: all .4s;
}

.back-btn:hover {
    background-color: #dee0e5;
    border-radius: 4px;
}

.container {
    width: 100%;
    max-width: 400px;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

.form-container {
    display: none;
}

.form-container.active {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}

input {
    width: 100%;
    padding: 10px;
    margin: 10px auto;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    width: 100%;
    padding: 10px;
    border: none;
    background: #7f4dff;
    color: white;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    opacity: 1;
    transition: .3s all ease;
}

button:hover {
    opacity: 0.9;
}

.toggle-link {
    text-align: center;
    margin-top: 10px;
    color: #007bff;
    cursor: pointer;
    transition: .3s all ease-in;
}

.toggle-link:hover {
    text-decoration: underline;
}