@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}

ul,
ol {
    list-style: none;
}

a {
    text-decoration: none;
}

.hidden {
    display: none;
    overflow: hidden;
}

body {
    font-family: 'Roboto', sans-serif;
}

.page__size {
    max-width: 1240px;
    width: 100%;
    margin: 0 auto;
    padding: 0 10px;
}

header {
    max-width: 1920px;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

header .header-top {
    display: inline-block;
    width: 100%;
    height: 32px;
    background-color: #f4f5f5;
}

.uzum {
    display: none;
    width: 100%;
    padding-right: 20px;
}

.uzumlogo-box {
    border-radius: 8px;
}

.uzum-mobile-text-box {
    display: flex;
    flex-direction: column;
}

.mobile__title {
    font-size: 14px;
    font-weight: 400;
    letter-spacing: .011rem;
    line-height: 18px;
    color: #1f2026;
}

.mobile__text {
    font-size: 11px;
    font-weight: 400;
    letter-spacing: 0.006rem;
    line-height: 16px;
    color: #4d4f59;
}

.uzumlogo-box {
    width: 36px;
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: yellow;
}

.mobile__link {
    margin-left: auto;
    display: inline-block;
    width: 114px;
    height: 32px;
    background-color: #7000ff;
    border-radius: 5px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}

header .navbarBox {
    width: 100%;
    height: 119px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.navbarBox .nav__wrapper {
    width: 100%;
    margin: 17px 0;
    background-color: transparent;
    display: flex;
    gap: 20px;
    justify-content: space-between;
}

.nav__wrapper .uzumLogo a {
    width: 215px;
    height: 32px;
}

.btn__catalog {
    border: none;
    background-color: transparent;
}

.catalogBox {
    width: 120px;
    height: 40px;
    padding: 0px 16px;
    border-radius: 4px;
    background-color: #3131C41A;
    color: #7f4dff;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    cursor: pointer;
    transition: all .4s;
}

.nav__wrapper .catalogBox:hover {
    background-color: #ceccff;

}

.catalogBox .catolog-icon {
    width: 24px;
    height: 24px;
}

.input__products__box {
    width: 496.47px;
    height: 40px;
    border: 1px solid #76797F4D;
    border-radius: 4px;
    border-radius: 2px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.input__products__box label {
    width: 85%;
    padding: 11.5px 39px 11.5px 17px;
    cursor: text;
}

.input__products__box input[type="search"] {
    width: 100%;
    height: 17px;
    padding: 0px 15px;
    border: none;
    font-family: "Inter", sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 16.94px;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #757575;
    cursor: text;
}

.input__products__box .search-icon {
    display: inline-block;
    width: 15%;
    height: 40px;
    padding: 8px 25.24px;
    border-radius: 0px 4px 4px 0px;
    background: #76797F0D;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}


.input__products__box .search-icon i {
    font-size: 24px;
    color: #757575;
}

.account__box {
    width: 345.53px;
    height: 42px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    cursor: pointer;
}

.account__box .account__box__btn {
    background-color: transparent;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    font-family: "Inter", sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 14px;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #000;
    cursor: pointer;
    padding: 8px 8px;
    transition: all .4s;
}

.account__box .account__box__btn:hover {
    background-color: #dee0e5;
    border-radius: 4px;
}

.account__box .account__box__btn i {
    font-size: 24px;
    color: #000;
}

.nav__list__box {
    width: 100%;
    height: 38px;
    display: flex;
    justify-content: space-between;
}

.nav__list__box .nav__list {
    width: 95%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 15px;
    overflow: hidden;
}

.nav__link {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #000000B2;
    position: relative;
    opacity: .8;
    transition: .2s opacity ease;
}

.nav__link::after {
    position: absolute;
    display: block;
    content: "";
    width: 0%;
    height: 1px;
    background-color: #000;
    transition: .3s width ease-in;
}

.nav__link:hover::after {
    width: 100%;
}

.nav__link:hover {
    opacity: 1;
}

.more {
    width: 5%;
    height: 30px;
    cursor: pointer;
}

.more .more__text {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #000;
    opacity: .8;
    position: relative;
}

.more .more__icon i {
    font-size: 14px;
    color: #000;
    opacity: .8;
    transform: translateY(10%);
}

.more:hover .more__text,
.more__icon {
    opacity: 1;
}

/* Main Section styling start */
main {
    max-width: 1920px;
    width: 100%;
    margin: 0 auto;
}

.swiper__container {
    width: 100%;
    height: auto;
    position: relative;
}

.BannerSwiper {
    width: 100%;
    height: 413px;
    border-radius: 20px;
}

.bannerSwiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.bannerSwiper-slide a img {
    width: 100%;
    height: 100%;
}

.swiper-button-next,
.swiper-button-prev {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    align-items: center;
    background-color: hsla(0, 0%, 100%, .7);
}

.swiper-button-next::after,
.swiper-button-prev::after {
    font-size: 20px;
    color: rgb(31, 32, 38);
}

.swiper-pagination-bullet {
    width: 6px;
    height: 6px;
}

.swiper-pagination-bullet-active {
    background-color: hsla(0, 0%, 100%, .9);
}

/* Populyar__section stylening start */
.popular__section {
    margin-top: 50px;
}

.carousel-offer {
    width: 100%;
    height: 550px;
    overflow: hidden;
    margin: 10px auto;
}

.title__box {
    align-items: center;
    cursor: pointer;
    display: flex;
    width: max-content;
}

.title__link {
    display: inline-block;
    color: #1f2026;
    font-family: "Inter", sans-serif;
    font-size: 28px;
    font-weight: 700;
    line-height: 36px;
    margin-left: 25px;
}

.title__link i {
    position: relative;
    top: 4px;
}

.product__list {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    margin-top: 20px;
    transition: all .3s ease;
}

.product__list .product__item {
    width: 220px;
    padding-bottom: 8px;
    border-radius: 12px;
    background: #FFFFFF;
    transition: .3s all ease-in;
    cursor: pointer;
}

.product__list .product__item:hover {
    box-shadow: 5px 5px 10px rgba(54, 55, 64, .1);
}

.product__list .product__item:hover .product__image .image__box img {
    transform: scale(1.05);
}

.product__image {
    width: 100%;
    height: 310px;
    border-radius: 12px;
    position: relative;
    transition: .3s all ease-in;
    overflow: hidden;
}

.product__image .image__cover {
    background-color: rgba(54, 55, 64, .1);
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    border-radius: 12px;
}

.product__image .image__box {
    width: 100%;
    height: 100%;
}


.product__image .image__box img {
    border-radius: 8px;
    height: 100%;
    left: 0;
    object-fit: cover;
    object-position: center;
    position: absolute;
    top: 0;
    width: 100%;
    transition: all .25s;
    will-change: transform;
}

.heart__box {
    width: 24px;
    height: 24px;
    position: absolute;
    top: 12px;
    right: 9px;
    z-index: 10;
}

.heart__box .heart__hidden {
    display: none;
}

.heart__box .heart {
    color: #7f4dff;
    font-size: 18px;
}

.heart__box .bxs-heart {
    color: #7f4dff;
}

.product__content__box {
    width: 100%;
    height: 157px;
    padding: 8px;
    padding-top: 11px;
    position: relative;
}

.product__about__box {
    width: 100%;
    height: auto;
    padding-right: 19px;
    margin-top: 11px;
}

.product__about__box .conten__text {
    font-family: 'Inter' sans-serif;
    font-size: 12.8px;
    font-weight: 400;
    line-height: 15.36px;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
}

.degree__box {
    width: 100%;
    height: auto;
    margin-top: 5px;
    display: flex;
    gap: 5px;
}

.degree__value__box .bxs-star {
    font-size: 14px;
    color: #F5A623;
}

.degree__value__box .degree__value,
.comment__box .comment__number {
    font-family: 'Inter' sans-serif;
    font-size: 11.2px;
    font-weight: 300;
    line-height: 11.2px;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #8A8D93;
}

.installment__payment__box {
    width: 100px;
    height: 17px;
    margin-top: 8px;
    border-radius: 4px;
    background: #FFFF00;
    display: flex;
    align-items: center;
    justify-content: center;
}

.installment__payment__box .installment__payment {
    font-family: 'Roboto' sans-serif;
    font-size: 11px;
    font-weight: 400;
    line-height: 17px;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #1F1F26;
}

.price__box {
    width: 205px;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    left: 8px;
    bottom: 8px;
}

.product__price {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 0px;
}

.product__price .old__price {
    font-family: 'Inter' sans-serif;
    font-size: 11.2px;
    font-weight: 400;
    line-height: 13.44px;
    text-decoration-line: line-through;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #757575;
}

.product__price .new__price {
    font-family: 'Inter' sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 16.8px;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
}

.shop__box {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    box-shadow: 0px 0px 0px 1px #D0D2D9 inset;
    display: flex;
    justify-content: center;
    align-items: center;
}

.shop__btn {
    border: none;
    background: transparent;
    cursor: pointer;
}

.shop__box:hover {
    background-color: #dee0e5;
}

.more__product__box {
    width: 100%;
    height: auto;
    margin-top: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.more__product__btn {
    width: 740px;
    height: 56px;
    border: none;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #76797F1A;
    transition: all .3s;
}

.more__product__btn .more__product__text {
    font-family: 'Inter' sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 19.36px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #141415;
    cursor: pointer;
}

.more__product__btn:hover {
    background-color: #d0d3d9;
}

.banner-wrapper {
    margin-top: 40px;
    margin-bottom: 36px;
}

.banner-image {
    width: 100%;
    height: 415px;
    overflow: hidden;
    border-radius: 8px;
}

.banner-image img {
    width: 100%;
    height: 100%;
    border-radius: 8px;
    transition: all .2s ease;
}

.banner-wrapper:hover .banner-image img {
    transform: scale(1.05);
}

.footer-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #76797F33;
    padding-bottom: 40px;
}

.footer-list-box {
    width: 310px;
    height: 207px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.footer-item-link {
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #4D4E59;
}

.footer-title-link {
    font-size: 14px;
    font-weight: 500;
    line-height: 18px;
    color: #1F1F26;
}

.mobile-store-box {
    height: 24px;
    display: flex;
    align-items: self-start;
    gap: 23px;
    flex-direction: column;
    margin-top: 20px;
    margin-bottom: 10px;
}

.footer-network-link {
    font-family: 'Inter', sans-serif;
    font-size: 12.8px;
    font-weight: 500;
    line-height: 15.36px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #1F1F26;
    display: flex;
    align-items: center;
}

.footer-network-link .mobile-store {
    width: 24px;
    height: 24px;
    display: inline-block;
    margin-right: 5px;
}

.footer-social-network {
    margin-top: 50px;
}

.footer-network-messengers {
    margin-top: 15px;
    width: 32px;
    height: 32px;
    display: inline-block;
    margin-right: 12px;
}

.footer-bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;
}

.footer-bottom-item {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.footer-botom-link {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 18px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #1F1F26;
}

.footer-botom-text {
    font-family: 'Roboto', sans-serif;
    font-size: 11px;
    font-weight: 400;
    line-height: 14px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #4D4E59;
}

.topBox {
    position: fixed;
    right: 25px;
    bottom: 25px;
    width: 54px;
    height: 54px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: #7000ff;
    cursor: pointer;
    transition: opacity 0.3s ease, visibility 0.3s ease;
    opacity: 1;
    visibility: visible;
}

.topBox.hidden {
    opacity: 0;
    visibility: hidden;
}

.topBox i {
    color: #fff;
    font-style: 54px;
}

.karzinka-container {
    max-width: 100%;
    width: 100%;
    margin: 50px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.karzinka-container img {
    width: 128px;
    height: 128px;
    object-fit: cover;
    object-position: center;
}

.karzinka-container .karzinka-title {
    font-family: 'Inter', sans-serif;
    font-size: 1.375rem;
    font-weight: 600;
    line-height: 1.2em;
    margin-top: 24px;
}

.karzinka-container .karzinka-text {
    font-family: 'Inter', sans-serif;
    font-size: .8rem;
    font-weight: 400;
    line-height: 1.4em;
    margin-top: 16px;
}

.karzinka-container .karzinka-btn {
    background-color: #e6e8ed;
    border-radius: 4px;
    color: #1f2026;
    cursor: pointer;
    font-family: 'Inter', sans-serif;
    font-size: .875rem;
    font-weight: 500;
    height: 38px;
    padding: 7px 14px;
    border: none;
}

.shopping__product-box {
    display: flex;
    align-items: self-start;
    flex-direction: column;
    position: relative;
    margin: 10px auto;
}

.my__product-title {
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 2rem;
    color: #1f2026;
}

.my__product__theNumber {
    color: #7e818c;
    display: inline-block;
}

.product__shop-box {
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 25px;
    padding: 16px;
    border: 1px solid rgba(54, 55, 64, .2);
}

.shopping__product-title-box {
    width: 100%;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.more__product {
    display: flex;
    align-items: center;
    justify-content: center;
}

.product__checkbox {
    width: 18px;
    height: 18px;
    margin-right: 10px;
    position: relative;
    border: none;
    background-color: #7000ff;
    color: #fff;
    text-align: center;
    cursor: pointer;
}

.checkboxHidden {
    background-color: #fff;
    border: 1px solid #000;
}

.delivery-text {
    font-size: .75rem;
    line-height: 1.125rem;
    color: #7e818c;
}

.delivery-date-box {
    padding: 2px 6px;
    border: 1px solid #7000ff;
    border-radius: 2px;
    font-size: 0.75rem;
    line-height: 1.125rem;
    color: #7f4dff;
    margin-left: 5px;
}

.cart-item {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    position: relative;
}

.block-sm {
    text-align: center;
    width: 100%;
    height: 1px;
    background-color: rgba(54, 55, 64, .08);
    display: block;
    margin-top: 1rem;
    margin-bottom: 24px;
}

.cart-item-box {
    width: 100%;
    display: flex;
    align-items: center;
}

.cart-item-text {
    font-family: "Inter", sans-serif;
    font-size: 12px;
    font-weight: 500;
    line-height: 16px;
    color: #7e818c;
    margin-bottom: 2px;
}

.cart-item-date {
    font-size: 18px;
    font-weight: 600;
    line-height: 22px;
    margin-bottom: 12px;
    color: #1f2026;
}

.btn__checkbox {
    position: absolute;
    top: 50%;
    left: 0;
}

.product__image-box {
    flex-shrink: 0;
    height: 7.5rem;
    margin-right: 1.15rem;
    width: 7.5rem;
    margin-left: 2rem;
}

.product__image {
    display: block;
    height: 100%;
    object-fit: contain;
    width: 100%;
}

.product__about {
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-content: start;
}

.product-text {
    font-size: 1rem;
    line-height: 1.5rem;
    color: #1f2026;
}

.product-seller {
    color: #7e818c;
}

.product__number-shop-box {
    width: 7.5rem;
    text-align: center;
    display: flex;
    border: 1px solid #0000001F;
}

.noselect {
    width: 38px;
    height: 38px;
    padding: 0px 12px;
    opacity: 0.3;
    border: none;
    background-color: #fff;
}

.product__number-input{
    width: 44px;
    height: 38px;
    border: none;
    text-align: center;
}
