@media (min-width:961px) and (max-width:1024px) {
    .account__button__label {
        display: none;
    }

    .page__size {
        max-width: 1000px;
        padding: 0 10px;
    }
}

/* Media 960px */

@media screen and (max-width:960px) {

    .page__size {
        width: 100%;
        padding: 0 15px;
    }

    header .header-top {
        display: none;
    }

    .uzum {
        display: flex;
        align-items: center;
        gap: 10px;
        margin: 0 auto;
        margin-top: 10px;
        width: 100%;
        margin-left: 10px;
    }

    .nav__wrapper .uzumLogo,
    .btn__catalog,
    .account__box {
        display: none;
    }

    .input__products__box {
        width: 100%;
    }

    .footer-wrapper {
        flex-wrap: wrap;
    }

    .footer-list-box {
        align-items: self-start;
    }

    .network-box {
        width: 100%;
        align-items: self-start;
        flex-direction: row;
    }

    .mobile-store-box {
        margin: 0;
        gap: 0;
    }

    .footer-social-network {
        display: flex;
        margin-top: 0;
    }

    .stores {
        display: flex;
        align-items: center;
        justify-content: start;
        gap: 5px;
    }
}


